<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
@await Html.PartialAsync("_HeadPartial")

<body class="body-wrapper">

    @await Html.PartialAsync("_HeaderPartial")


    <!--===============================
=            Hero Area Section          

    @await Html.PartialAsync("_HeroAreaSectionPartial")
=
================================-->



    <!--===========================================
=            Popular deals section      

    @await Html.PartialAsync("_PopularDealsSectionPartial")
      =
============================================-->
<!-- Footer Bottom 
    @await Html.PartialAsync("_FooterBottomPartial")
    -->


    <!-- 
Essential Scripts

    @await Html.PartialAsync("_ScriptsPartial")
=====================================-->


</body>

</html>
